* {
    padding: 0;
    margin: 0;
}

.me {
    color: yellow !important;
}

.msg_area {
    position: relative;
    height: 500px;
    width: 90%;
    background-color: #FBFBFB;
    float: left;
}

.users_list {
    height: 500px;
    width: 10%;
    float: right;
    border-color: #000;
    background-color: #302B54;
}

.users_list ul {
    margin-right: 10px;
}

.users_list li {
    list-style-type: none;
    margin-right: 10px;
    width: 100%;
    height: auto;
}

.user_name {
    width: 90%;
    height: 100%;
    text-align: right;
    margin-right: 10px;
    color: #FFF;
    float: right;
}

.container_msg {
    position: relative;
}

.container_msg input {
    width: 90%;
    height: 20px;
}

.container_msg button {
    width: 9%;
}

.body_message {
    margin-left: 10px;
}